.links{
    display: flex;
    justify-content: space-around;
    
    width: 100%;
}
.topnav {
    
       display: flex;
       justify-content: flex-start;
       align-items: center;
      background-color: #023047;
     overflow: hidden;
   }
   .topnav a {
    display: flex;
    justify-content: center;
    align-items: center;
     color: #f2f2f2;
     text-align: center;
     margin: 1rem;
     padding: 12px;
     text-decoration: none;
     font-size: x-large;
     border-radius: 50px;
     transition: all 1s ease-in;
   }
   .topnav a:hover{
       background-color:#01151f ;
   }
   .links a:hover ~ .dropdown-menu{
       display: block;
       margin-top: 4.5rem;
   }

   .links a ~ .dropdown-menu:hover{
       margin-top: 4.5rem;
       display: block;
   }
   .dropdown-menu a{
    color: black;
   }
   .dropdown-item{
       margin-right: 0px !important;
       margin-left: 0px !important;
   }

     .card-color{
      background-color:khaki;
  }
  .tile-title{
      font-size: x-large;
      color: royalblue;
  }
  .card-text{
      font-size: large;
      text-align: justify;
  }
  .btn{
      border-radius: 1rem;
      padding: .5rem;
  }
  .card-text{
      font-size: large;
      text-align: left;
  }
  .list-item{
      border: none;
      background-color: khaki;
      padding: 1rem;
      border-bottom: 2px solid lightseagreen;

  }
  .lastlist{
      border-bottom: none;
  }
  .list-item:hover{
      cursor: pointer;
      font-size: x-large;
      color:darkblue;}
      .fixed-height{
          max-height: 300px;
          /* overflow:scroll; */
          overflow-y: scroll;
          overflow-x:hidden ;
      }
     